.main_catalogo{
    display: flex;
    justify-content: center;
}
.section_catalogo{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%
}
hr{
    width: 90%;
    margin: auto;
}
.subtitle{
    width: auto;
    margin: 30px;
    font-size: 20px;
    text-align: center;
}
.filter_list{
    max-height: 42vh;
}
.filter_plus_products{
    display: flex;
    margin: 30px;
}
.filter_span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btn-filter {
    margin-left: 18px;
    width: 120px;
    display: flex;
    justify-content:flex-start;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s linear;
    height: 44px;
}
.filter_span {
    font-size: 16px;
}
div {
    position: relative;
}
.green {
    color: rgb(94, 94, 94) !important;
}
.green::before {
    left: -1;
    content: "";
    display: block;
    width: 10%;
    height: 100%;
    background-color:#2c8f4e;
    position: absolute;
    z-index: -2;
    transition: all 600ms ease;
}
.green:hover::before {
    width: 100%;
}
.green:hover .arrow_update {
    opacity: 1;
    left: calc(100% - 20px);
}
.arrow_update {
    margin-top: 2px;
    font-size: 16px;
    transition: opacity 600ms ease;
    opacity: 0;
    position: absolute;
}
.products_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    box-shadow: -1px 0px 6px 2px rgba(128,128,128,0.2);
    -webkit-box-shadow: -1px 0px 6px 2px rgba(128,128,128,0.2);
    -moz-box-shadow: -1px 0px 6px 2px rgba(128,128,128,0.2);
    border-radius: 3px
}
.product_item{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.product_item .visibility-link{
    position: absolute;
    left: 200px;
    top: 5px;
    color: #8b8b8b !important;
    cursor: pointer;
} 
.contenido_producto{
    padding: 10px;
    color: rgb(94, 94, 94);
    width: 235px;
    display: flex;
    flex-direction: column;
}
.contenido_producto > span {
    font-size: 15px;
}
.contenido_producto>h2{
    font-size: 18px;
}
.btn_comprar{
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #226440;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 3px;
    margin-top: 5px;
    color: #fff;
}
.btn_comprar:hover{
    background-color: #2c8f4e;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    letter-spacing: 0.05em;
    font-size: 16px;
    transition: all 600ms ease;
}
