html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* NAV */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.navigation-logo img {
  display: block;
  max-width: 40%;
}

button {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #1d5e2e;
  border-bottom: 1px solid #fff;
}

.navigation {
  position: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

.navigation-toggle {
  border-right: 1px solid #fff;
  transition: background-color 250ms;
}

.navigation.active .navigation-toggle {
  background: #fff url(img/cross.svg) center/20px no-repeat;
}

.navigation.active .button-toggle-img {
  display: none;
}

.button-has-icon {
  width: 60px;
  flex-shrink: 0;
  align-self: stretch;
}

.button-has-icon:not(.navigation-toggle) {
  border-left: 1px solid #fff;
}

.button-icon {
  display: grid;
  place-items: center;
}

.navigation-logo {
  width: 8.25rem;
}

.button-icon-img {
  width: 1.25rem;
}

.button-icon-img * {
  fill: #fff;
  stroke: #fff;
}

.button-has-icon:hover .button-icon-img * {
  fill: #22973f;
  stroke: #22973f;
}

.main-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 100%);
  background-color: #fff;
  padding: 3vw;
  z-index: 800;
  transform: translateX(-100%);
  transition: transform 250ms;
}

.navigation.active .main-navigation {
  transform: translateX(0);
}

.navigation-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

/* .navigation-item + .navigation-item {
  border-top: 1px solid #000000;
} */

.navigation-link {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 0.9375rem;
  transition: color 250ms;
}

.navigation-link:hover {
  color: #22973f;
}

.navigation-link:first-of-type {
  padding-top: 0;
}

.navigation-icon-group {
  align-self: stretch;
  display: flex;
  margin-left: auto;
}

.navigation-icon-group i {
  font-size: 20px;
}

.item-inicio {
  border-bottom: 2px solid #fff;
  margin-bottom: -2px;
}

@media (min-width: 41.875em) {
  .navigation {
    height: 4.375rem;
    column-gap: 1.875rem;
  }

  .navigation-logo {
    width: 10.875rem;
  }
}

@media (min-width: 64em) {
  .navigation {
    column-gap: 4.375rem;
    padding-left: 1.822916667vw;
  }

  .navigation-toggle {
    display: none;
  }

  .main-navigation {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: initial;
    transform: initial;
    transition: none;
  }

  .navigation-list {
    flex-direction: row;
    column-gap: 1.25rem;
  }

  .navigation-link {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .navigation-link {
    font-size: 24px;
  }
}

/******************************/

/* CONTACT BUBLE */
#circle-container {
  position: fixed;
  top: 70%;
  right: 1.5%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: pointer;
  background-color: white;
  color: #1d5e2e;
  border-radius: 50%;
  padding: 0;
}

#social-icons {
  display: none;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
}

#social-icons li {
  margin-bottom: 10px;
}

#circle-container:hover #social-icons {
  display: block;
}

.social-icon {
  display: inline-block;
  padding-top: 8px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

#social-icons li:nth-child(1) {
  /* background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  transform: translate(-1%, -1%);
}

#social-icons li:nth-child(2) {
  /* background: radial-gradient(circle at 30% 107%,
      #30b752 0%,
      #30b752 5%,
      #30b752 45%,
      #1e7734 60%,
      #1e7734 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  transform: translate(-90%, -0%);
}

#social-icons li:nth-child(3) {
  /* background: radial-gradient(circle at 30% 107%,
      #161616 0%,
      #0f0f0f 5%,
      #1e1f1e 45%,
      #060707 60%,
      #060707 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  transform: translate(-100%, 50%);
}

#social-icons li:nth-child(4) {
  /* background: radial-gradient(circle at 30% 107%,
      #161616 0%,
      #0f0f0f 5%,
      #1e1f1e 45%,
      #060707 60%,
      #060707 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  transform: translate(-5%, 50%);
}

.contact {
  font-size: 35px;

}

/******************************/

/* IMAGEN DE FONDO CON OVERLAY */
#image-overlay img {
  width: 100%;
  filter: sepia(71%) brightness(80%) hue-rotate(77deg) saturate(424%) opacity(94%) contrast(53%);
  -webkit-filter: sepia(71%) brightness(80%) hue-rotate(77deg) saturate(424%) opacity(94%) contrast(53%);
  -moz-filter: sepia(71%) brightness(80%) hue-rotate(77deg) saturate(424%) opacity(94%) contrast(53%);
}

#image-overlay {
  position: relative;
  width: 100%;
  height: 390px;
  /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

#image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #1e7734;
}

#image-overlay p {
  font-size: 55px;
  font-family: "Covered By Your Grace", sans-serif;
  letter-spacing: 1rem;
  line-height: 3.5rem;
  align-items: center;
  justify-content: center;
}

#overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Ajusta el color y la opacidad del overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

#image-overlay:hover #overlay {
  opacity: 1;
}

/******************************/

/* DISCIPLINAS */
#disciplines {
  padding: 3em;
  background-color: #fff;
}

.disciplines-title {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  font-size: 40px;
  font-weight: 600;
  color: black;
  letter-spacing: 0.25em;
}

#disciplines p,
#disciplines ul,
#disciplines li {
  margin-bottom: 15px;
  padding: 0;
}

#disciplines li img {
  width: 200px;
  height: 200px;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: 0.5s;
}

#disciplines li img:hover {
  opacity: 0.8;
  background-image: linear-gradient(to right top,
      #1d5e2e,
      #397e49,
      #559f67,
      #72c285,
      #8fe6a5);
}

.accordion,
.accordion p,
.accordion-content {
  list-style: none;
  font-size: 20px;
  color: black;
}

.accordion-item {
  border: none;
}

.accordion-header {
  position: relative;
  padding-left: 2rem;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 0.15em;
}

.accordion-content {
  display: none;
  border: none;
}

.accordion-header.active+.accordion-content {
  display: block;
}

.accordion-content-item {
  position: relative;
}

.accordion-content-item i {
  color: #30b752;
  font-size: 30px;
}

.accordion-header {
  position: relative;
  padding-right: 30px;
}

.accordion-header:hover {
  cursor: pointer;
}

.accordion-header::after {
  content: "🠖";
  font-size: 30px;
  position: absolute;
  right: 0;
  left: 290px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.accordion-header:hover::after {
  opacity: 1;
}

/******************************/

/* SLIDER TIENDA */
.slider {
  height: 100vh;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.slider-newseasonTitle {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: black;
  font-size: 24px;
  font-weight: 400;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  top: -70px;
  width: 850px;
  height: 850px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  margin-top: 70px;
  margin-right: 120px;
  border-radius: 50%;
  z-index: 1;
  height: 400px;
  width: 400px;
}



.sliderTitle {
  position: absolute;
  top: 40%;
  right: 17%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: BLACK;
  z-index: 1;
}

.button-57 {
  position: relative;
  top: 240px;
  right: 170px;
  width: 140px;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 22px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.sliderItem .sliderBg {
  background-image: linear-gradient(to right bottom,
      #57d176,
      #49ba65,
      #3ba354,
      #2d8d44,
      #1e7734);
}

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .disciplines-title {
    margin-top: 5px;
    font-size: 35px;
  }

  .disciplines {
    width: 100%;
  }

  .accordion-header p {
    font-size: 12px;
  }

  .slider-newseasonTitle {
    text-align: center;
    font-size: 35px;

  }

  .slider {
    margin-bottom: 20px;
    background-color: #060707;
  }

  .sliderImg {
    margin-top: -10px;
    left: 40px;
    max-height: 190px;
    max-width: 190px;
  }

  .button-57 {
    position: absolute;
    top: 200px;
    left: 220px;
  }

  .sponsors-section h1 {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .navBottom {
    flex-wrap: wrap;
  }

  .slider-newseasonTitle {
    margin-left: 8px;
  }

  .menuItem {
    margin: 5px 15px 10px 10px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider {
    height: 50vh;
    margin-bottom: 20px;
    background-color: #060707;
    background-image: linear-gradient(to right bottom,
        #57d176,
        #49ba65,
        #3ba354,
        #2d8d44,
        #1e7734);
    clip-path: polygon(50% 0%, 100% 0, 100% 96%, 0 86%, 0 0);
  }

  .sliderImg {
    width: 280px;
    position: absolute;
    right: 105px;
    top: 55px;

    border-radius: 100%;
    height: 270px;
  }

  .sliderBg {
    display: none;
  }

  .sliderTitle {
    display: none;
  }
}

/******************************/

/* SPONSORS */
#sponsors-section {
  padding: 2em;
  text-align: center;
  background-image: linear-gradient(to right bottom,
      #e1e9e4,
      #d7deda,
      #cdd3cf,
      #c3c9c5,
      #b9bebb);
}

#sponsors-section h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin: 25px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.sponsors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Permite que las imágenes se envuelvan en una nueva línea en pantallas pequeñas */
}

.sponsor-image {
  width: 170px;
  height: auto;
  margin: 15px;
  filter: grayscale(100%);
  /* Convierte las imágenes a tonalidad gris */
}

/******************************/

/* FOOTER */
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #1e7734;
  padding: 30px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links i {
  margin-top: 10px;
  font-size: 20px;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-copyright {
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/******************************/