html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.navbar {
    background-color: #1d5e2e !important;
    
}

.navbar-nav , .img, a {
    color: white !important;
}



.gallery {
  padding: 50px;
  display: flex;
}

.galleryDisciplines {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.galleryItem {
  flex: 1;
  padding: 10px;
}

.galleryImg {
  width: 100%;
  /* filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(100%); */
  filter: grayscale(60%);
  box-shadow: 3px 5px 5px rgba(49, 49, 49, 0.15);
}

.menuItems {
  margin-right: 50px;
  font-weight: 400;
  cursor: pointer;
}

.tiendaTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.slider {
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  overflow: hidden;
}

.sliderTienda {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderWrapper {
  display: flex;
  width: 600vw;
  transition: all 1s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: #8fe6a3;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
}

.buttonsMove {
  position: absolute;
  top: 160%;
  left: 2.5%;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
}

.buttonsMove button {
  padding: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8fe6a3;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.buttonsMove button:hover {
  background-color: #70da8b;
}

.buyButton {
  position: absolute;
  top: 75%;
  right: 20%;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

/* .sliderItem:nth-child(1) .sliderBg {
    background-color: #c0f2cc;
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: #8fe6a3;
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: #57d174;
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: #30b751;
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: #22973f;
}

.sliderItem:nth-child(6) .sliderBg {
    background-color: #1e7634;
} */

/* .sliderItem:nth-child(1) .sliderPrice {
    color: #c0f2cc;
}

.sliderItem:nth-child(2) .sliderPrice {
    color: #8fe6a3;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: #57d174;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: #30b751;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: #22973f;
}

.sliderItem:nth-child(6) .sliderPrice {
    color: #1e7634;
} */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
  color: #1d5e2e;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
}

.featureDesc {
  color: gray;
  height: 100px;
  width: 50%;
}

.product {
  width: 100%;
  height: 110vh;
  background-color: #8fe6a3;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment {
  width: 600px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 3px 6px 9px 2px #095721;
  box-shadow: 3px 6px 9px 2px #095721;
}

.payTitle {
  font-size: 20px;
  color: black;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(128, 125, 125);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
  bottom: -40px;
  background-color: #22973f;
  -webkit-box-shadow: 3px 6px 9px 2px #095721;
  box-shadow: 3px 6px 9px 2px #095721;
  color: white;
  border: none;
  cursor: pointer;
}

.payButton:hover {
  background-color: #3aad57;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 40%;
  padding: 10px;
}

.productTitle {
  font-size: 60px;
  font-weight: 900;
}

.productDesc {
  font-size: 24px;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:nth-child(2) {
  background-color: white;
}

.color:nth-child(3) {
  background-color: #1d5e2e;
}

.size {
  font-size: 20px;
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
}
.container_all_products{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_all_productos{
  padding: 10px 20px;
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  color: white;
  text-decoration: none;
}

.productButton {
  float: right;
  padding: 10px 20px;

  font-size: 20px;
  font-weight: 600;
  background-color: black;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.timelineTitle {
    display: flex;   
    justify-content: center;
    margin: 50px auto;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.25em;
  }

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #1e7634;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #8fe6a3;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #1e7634;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #1e7634;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1;
    cursor: pointer;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}
  
.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #8fe6a3;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #1e7634;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}
