html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* NAV */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.navigation-logo img {
  display: block;
  max-width: 40%;
}

button {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #1d5e2e;
  border-bottom: 1px solid #fff;
}
.navigation {
  position: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

.navigation-toggle {
  border-right: 1px solid #fff;
  transition: background-color 250ms;
}

.navigation.active .navigation-toggle {
  background: #fff url(img/cross.svg) center/20px no-repeat;
}

.navigation.active .button-toggle-img {
  display: none;
}

.button-has-icon {
  width: 60px;
  flex-shrink: 0;
  align-self: stretch;
}

.button-has-icon:not(.navigation-toggle) {
  border-left: 1px solid #fff;
}

.button-icon {
  display: grid;
  place-items: center;
}

.navigation-logo {
  width: 8.25rem;
}

.button-icon-img {
  width: 1.25rem;
}

.button-icon-img * {
  fill: #fff;
  stroke: #fff;
}

.button-has-icon:hover .button-icon-img * {
  fill: #22973f;
  stroke: #22973f;
}

.main-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 100%);
  background-color: #fff;
  padding: 3vw;
  z-index: 800;
  transform: translateX(-100%);
  transition: transform 250ms;
}

.navigation.active .main-navigation {
  transform: translateX(0);
}

.navigation-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

/* .navigation-item + .navigation-item {
  border-top: 1px solid #000000;
} */

.navigation-link {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 0.9375rem;
  transition: color 250ms;
}

.navigation-link:hover {
  color: #22973f;
}

.navigation-link:first-of-type {
  padding-top: 0;
}

.navigation-icon-group {
  align-self: stretch;
  display: flex;
  margin-left: auto;
}

.navigation-icon-group i {
  font-size: 20px;
}

@media (min-width: 41.875em) {
  .navigation {
    height: 4.375rem;
    column-gap: 1.875rem;
  }
  .navigation-logo {
    width: 10.875rem;
  }
}

@media (min-width: 64em) {
  .navigation {
    column-gap: 4.375rem;
    padding-left: 1.822916667vw;
  }
  .navigation-toggle {
    display: none;
  }

  .main-navigation {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: initial;
    transform: initial;
    transition: none;
  }

  .navigation-list {
    flex-direction: row;
    column-gap: 1.25rem;
  }

  .navigation-link {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    padding-top: 0;
  }
}

/***************************/

/* CONTACT BUBLE */
#circle-container {
  position: fixed;
  top: 70%;
  right: 1.5%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: pointer;
  background-color: white;
  color: #1d5e2e;
  border-radius: 50%;
  padding: 0;
}

#social-icons {
  display: none;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
}

#social-icons li {
  margin-bottom: 10px;
}

#circle-container:hover #social-icons {
  display: block;
}

.social-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  /* background-color: #2c3e50; */
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

#social-icons li:nth-child(1) {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-1%, -1%);
}

#social-icons li:nth-child(2) {
  background: radial-gradient(
    circle at 30% 107%,
    #30b752 0%,
    #30b752 5%,
    #30b752 45%,
    #1e7734 60%,
    #1e7734 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-90%, -0%);
}

#social-icons li:nth-child(3) {
  background: radial-gradient(
    circle at 30% 107%,
    #161616 0%,
    #0f0f0f 5%,
    #1e1f1e 45%,
    #060707 60%,
    #060707 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-100%, 50%);
}

#social-icons li:nth-child(4) {
  background: radial-gradient(
    circle at 30% 107%,
    #161616 0%,
    #0f0f0f 5%,
    #1e1f1e 45%,
    #060707 60%,
    #060707 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-5%, 60%);
}

.contact {
  font-size: 40px;
}

/***************************/

/* IMAGEN DE FONDO CON OVERLAY */
#image img {
  width: 100%;
  filter: sepia(87%) hue-rotate(61deg);
  -webkit-filter: sepia(87%) hue-rotate(61deg);
  -moz-filter: sepia(87%) hue-rotate(61deg);
}

#image-overlay {
  position: relative;
  width: 100%;
  height: 390px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

#image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #1e7734;
}

#image-overlay p {
  font-size: 55px;
  font-family: "Covered By Your Grace", sans-serif;
  letter-spacing: 1rem;
  line-height: 3.5rem;
  align-items: center;
  justify-content: center;
}

#overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Ajusta el color y la opacidad del overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

#image-overlay:hover #overlay {
  opacity: 1;
}

/***************************/

/* LINEA HISTORICA */
.timelineTitle {  
  display: flex;
  justify-content: center;
  margin: 25px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}
.timeline {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px;
 
}
.slider-timeline {
  position: relative;
  background: #fff;
  width: 70%;
  min-height: 500px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}
.slider-timeline .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}
.slider-timeline .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 7s;
}
.slider-timeline .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(0.7);
}
.slider-timeline .slide .info {
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.7);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}
.slider-timeline .slide .info h2 {
  font-size: 2.5em;
  font-weight: 800;
}
.slider-timeline .slide .info p {
  font-size: 1.3em;
  font-weight: 600;
}
.navigation1 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.slider-timeline:hover .navigation1 {
  opacity: 1;
}
.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}
.prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}
.navigation-visibility .slide-icon {
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}
.navigation-visibility .slide-icon.active {
  background: #24262b;
}
@media (max-width: 900px) {
  .slider-timeline {
    width: 100%;
  }
  .slider-timeline .slide .info {
    position: relative;
    width: 80%;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .slider-timeline .slide .info h2 {
    font-size: 1.8em;
    line-height: 40px;
  }
  .slider-timeline .slide .info p {
    font-size: 0.9em;
  }
}

/***************************/

.gallery {
  padding: 50px;
  display: flex;
}

.galleryDisciplines {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.galleryItem {
  flex: 1;
  padding: 10px;
}

.galleryImg {
  width: 100%;
  /* filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(100%); */
  filter: grayscale(60%);
  box-shadow: 3px 5px 5px rgba(49, 49, 49, 0.15);
}

.menuItems {
  margin-right: 50px;
  font-weight: 400;
  cursor: pointer;
}

.tiendaTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.slider {
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  overflow: hidden;
}

.sliderTienda {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderWrapper {
  display: flex;
  width: 600vw;
  transition: all 1s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: #8fe6a3;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
}

.buttonsMove {
  position: absolute;
  top: 160%;
  left: 2.5%;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
}

.buttonsMove button {
  padding: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8fe6a3;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.buttonsMove button:hover {
  background-color: #70da8b;
}

.buyButton {
  position: absolute;
  top: 75%;
  right: 20%;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

/* .sliderItem:nth-child(1) .sliderBg {
    background-color: #c0f2cc;
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: #8fe6a3;
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: #57d174;
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: #30b751;
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: #22973f;
}

.sliderItem:nth-child(6) .sliderBg {
    background-color: #1e7634;
} */

/* .sliderItem:nth-child(1) .sliderPrice {
    color: #c0f2cc;
}

.sliderItem:nth-child(2) .sliderPrice {
    color: #8fe6a3;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: #57d174;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: #30b751;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: #22973f;
}

.sliderItem:nth-child(6) .sliderPrice {
    color: #1e7634;
} */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
  color: #1d5e2e;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
}

.featureDesc {
  color: gray;
  height: 100px;
  width: 50%;
}

.product {
  width: 100%;
  height: 110vh;
  background-color: #8fe6a3;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment {
  width: 600px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 3px 6px 9px 2px #095721;
  box-shadow: 3px 6px 9px 2px #095721;
}

.payTitle {
  font-size: 20px;
  color: black;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(128, 125, 125);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
  bottom: -40px;
  background-color: #22973f;
  -webkit-box-shadow: 3px 6px 9px 2px #095721;
  box-shadow: 3px 6px 9px 2px #095721;
  color: white;
  border: none;
  cursor: pointer;
}

.payButton:hover {
  background-color: #3aad57;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 40%;
  padding: 10px;
}

.productTitle {
  font-size: 60px;
  font-weight: 900;
}

.productDesc {
  font-size: 24px;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:nth-child(2) {
  background-color: white;
}

.color:nth-child(3) {
  background-color: #1d5e2e;
}

.size {
  font-size: 20px;
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
}
.container_all_products{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_all_productos{
  padding: 10px 20px;
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  color: white;
  text-decoration: none;
}

.productButton {
  float: right;
  padding: 10px 20px;

  font-size: 20px;
  font-weight: 600;
  background-color: black;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}
/***************************/

/* SPONSORS */
.sponsors-section {
  padding: 10px;
  text-align: center;
  background-color: rgba(201, 186, 186, 0.3);
}

.sponsors-section h1 {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.sponsors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en una nueva línea en pantallas pequeñas */
}

.sponsor-image {
  width: 170px;
  height: auto;
  margin: 15px;
  filter: grayscale(100%); /* Convierte las imágenes a tonalidad gris */
}

/***************************/

/* FOOTER */
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #1d5e2e;
  padding: 30px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links i {
  margin-top: 10px;
  font-size: 20px;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-copyright {
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/******************************/
